/* 오늘의 쇼핑 제안 */

body {
  width: 1022px;
  height: 1000px;
  margin: 0 auto;
  position: relative;
}

p {
  margin: 0;
  font-size: 14px;
}

h1 {
  margin: 0;
}

.logo {
  margin: 100px 0 48px;
  display: flex;

}

h2 {
  width: 234px;
  margin: 0 0 24px;
/*
  display: inline-block;
  vertical-align: middle;
  */
}

.icon {
  background-image: url(/assets/icon/shopping.svg);
  background-repeat: no-repeat;
  background-position: center left;
  background-size: contain;

  width: 30px;
  height: 30px;
  float: left;
/*
  display: inline-block;
  vertical-align: middle;
*/
  margin: 0 auto;
}

.text {
  font-size: 24px;
  font-weight: 500;
}

.clear {
 clear: both;
}

.menu-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  margin: 0 auto;
}

.item-img {
  padding: 14px 20px 0px 20px;
  margin-bottom: 12px;
}

.item-list {
  width: 200px;
  height: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.discount {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  width: 53px;
  height: 30px;
  
  background-color: var(--color-red-500);
  color: var(--color-white);
  border-radius: 0 0 4px 0;

  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;
}

.info {
  display: flex;
  flex-direction: column;
}

.content {
  font-weight: 400;
  margin-bottom: 12px;
}

.rocket {
  margin-bottom: 6px;
}

.free {
  color: var(--color-gray-700);
  margin-bottom: 6px;
  line-height: 1.2;
}

.review {
  display: flex;
}

.star {
  background-image: url(/assets/sprites/rating-stars.png);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center left;

  width: 68px;
  height: 12px;

  display: inline-block;

  margin-right: 4px;
  
  /*
  float: left;

  margin: 0 auto;
  */
}


.point1 {
  background-position-y: 90%;
}

.point2 {
  background-position-y: 90%;
}

.point3 {
  background-position-y: 80%;
}

.point4 {
  background-position-y: 100%;
}

.point5 {
  background-position-y: 80%;
}

.Cnumber {
  font-size: 12px;
  font-weight: 400;
}