/* CSS 작성 */

.header-area {
  margin: 100px 0 48px 0;
}


.main-title {
  display: flex;
  align-items: center;
  text-align: center;
  height: 28px;
  width: 366px;
  box-shadow: 0px 3px 10px 2px var(--color-gray-500);

  font-weight: 200;
  margin-bottom: 24px;
}

.main-title-text {
  font-size: 24px;
  font-weight: 400;
}

.main-text01 {
  font-size: 20px;
  FONT-WEIGHT: 400;
  color: var(--color-gray-500);
}

.main-text02 {
  font-size: 16px;
  FONT-WEIGHT: 400;
  color: var(--color-gray-500);
}

.wrap {
  margin: 0 auto;
  overflow: hidden;

}

.item {

  float:left;
  position: relative;
  border: 1px solid rgba(0,0,0,0.2);
  
}

.item:hover {
  border: 1px solid var(--color-blue);
}

.honeytea {
  padding: 19px 27px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.vaseline {
  padding: 19px 27px;
  margin-bottom: 16px;
}

.handcream {
  padding: 13px 20px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.bibs {
  padding: 13px 20px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.hanssem {
  padding: 13px 20px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.dumpling {
  padding: 13px 20px;
  margin-bottom: 16px;
}

.wettissue {
  padding: 19px 27px;
  margin-right: 16px;
}

.febreze {
  padding: 13px 20px;
  margin-right: 16px;
}

.dyson {
  padding: 13px 20px;
}

.btn {
  width: 42px;
  height: 42px;
  background-color: rgba(0,0,0,0.2);
  opacity: 20%;
  position: absolute;

  top: 248px;
  left: 20px;
  color: var(--color-white);
  border: none;
}


a:link {
  color: var(--color-white);
}

a:visited {
  color: var(--color-white);
}

.item:hover .btn {
  width: 112px;
  height: 42px;
  background-color: var(--color-blue);
  cursor: pointer;
  opacity: unset;
  transition:cubic-bezier(0.19, 1, 0.22, 1) 2s;
}


.item:hover .btn::before {
  content: "구매하기";
  color: var(--color-white);
  vertical-align: top;
  line-height: 40px;
  padding-left: 7px;
}
